body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  background-color: #f4f4f4;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  color: #fff;
}
